[submodule "first_party/logger"]
	path = first_party/logger
	url = https://github.com/neapu/logger.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
